@model RestaurantApp.Entities.Dishes


<form asp-action="Save" method="post">
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <br />
    <label asp-for="Description"></label>
    <input asp-for="Description" />
    <br />
    <label asp-for="Price"></label>
    <input asp-for="Price" />
    <br />
    <button type="submit">Save</button>
    <a asp-action="DishesList">Back</a>
</form>
